<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GSB - {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{{ include("GSBPlatformBundle:part:header.html.twig") }}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
