nav
  position: fixed
  width: 100vw
  height: 60px
  background-color: $color--primary
  z-index: 10000

  .nav__menu
    max-width: 80vw
    position: absolute
    top: 50%
    padding-left: 25px
    transform: translateY(-50%)
    display: inline-block

    .nav__menu__element
      color: white
      text-decoration: none
      font-family: Roboto, sans-serif
      text-align: center